<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta content="IE=edge" http-equiv="X-UA-Compatible">
	<meta content="width=device-width, initial-scale=1" name="viewport">
	<title>FreeCodeCamp API - Voting App.</title>
  <!-- BOOTSTRAP -->
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" rel="stylesheet">
  <!-- FONT AWESOME -->
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <!-- FONT -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <!-- CSS -->
	<link href="/css/main.css" rel="stylesheet">
  <!-- FAVICON -->
	<link href="https://cdn.glitch.com/d6fa88a9-eb47-4d8f-a66e-55cdbe1ba116%2Ffavicon.jpg?1512681727293" rel="shortcut icon">
	<link href="https://cdn.glitch.com/d6fa88a9-eb47-4d8f-a66e-55cdbe1ba116%2Ffavicon.jpg?1512681727293" rel="apple-touch-icon">
</head>
<body>
<%include navbar %>