<% include ../components/header %>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
        <p>
        &nbsp;
        </p>
				<h1 align="center" class="text-center">404 - Oops... not found</h1>
        <p>
        &nbsp;
        </p>
        <p align="center">
          <a class="btn btn-lg btn-default" href="/"><i aria-hidden="true" class="fa fa-home"></i> Home</a>
        </p>
        <p>
        &nbsp;
        </p>
			</div>
		</div>
	</div>
<%include ../components/footer %>
